body{
    background-color: powderblue;

}
hr{
    /* background-color: white; */
    border-style: dotted none none;
    border-color: gray;
    border-width: 5px;
    height: 0px;  
    /* height of the box of horizontal rule becomes 2px */
    width:5%;
}

h1,h3{
    color: #66bfbf;
}